{% extends 'base.html' %}
{% block content %}
<h2>Register Player</h2>
<form method="post">
  <table class="table center-table">
    <tbody>
      <tr>
        <td>Name</td>
        <td><input name="name" required></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input name="email" type="email" required></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input name="password" type="password" required></td>
      </tr>
      <tr>
        <td>Add to Tournament</td>
        <td>
          <select name="tournament_id">
            <option value="">-- None --</option>
            {% for t in tournaments %}
              <option value="{{t.id}}">{{t.name}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button class="btn" type="submit">Register</button></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
